<h1>Table of Contents</h1>
<a href="{{ page.rootdir }}/index.html" class="toc_part">Front Cover</a>
<a href="{{ page.rootdir }}/p2.html" class="toc_part">Front Matter</a>
<a href="{{ page.rootdir }}/p3.html" class="toc_part">Introduction</a>
<a href="{{ page.rootdir }}/p3-s1.html" class="toc_section">Welcome to Season Four!</a>
<a href="{{ page.rootdir }}/p3-s2.html" class="toc_section">What You’ll Need to Play</a>
<a href="{{ page.rootdir }}/p3-s3.html" class="toc_section">How to Read This Book</a>
<a href="{{ page.rootdir }}/p3-s4.html" class="toc_section">The RiM: S4E Team</a>
<a href="{{ page.rootdir }}/p4.html" class="toc_part">Character Creation</a>
<a href="{{ page.rootdir }}/p4-s1.html" class="toc_section">D.A.S.H.</a>
<a href="{{ page.rootdir }}/p4-s2.html" class="toc_section">Design</a>
<a href="{{ page.rootdir }}/p4-s3.html" class="toc_section">Aspects</a>
<a href="{{ page.rootdir }}/p4-s4.html" class="toc_section">Statistics</a>
<a href="{{ page.rootdir }}/p4-s5.html" class="toc_section">Headway</a>
<a href="{{ page.rootdir }}/p4-s6.html" class="toc_section">D.A.S.H. Example</a>
<a href="{{ page.rootdir }}/p5.html" class="toc_part">Playing an Episode</a>
<a href="{{ page.rootdir }}/p5-s1.html" class="toc_section">Structure of Gameplay</a>
<a href="{{ page.rootdir }}/p5-s2.html" class="toc_section">Making Checks</a>
<a href="{{ page.rootdir }}/p5-s3.html" class="toc_section">Advantages &amp; Drawbacks</a>
<a href="{{ page.rootdir }}/p5-s4.html" class="toc_section">Acting in Harmony</a>
<a href="{{ page.rootdir }}/p5-s5.html" class="toc_section">Damage, Recovery, &amp; Sidelining</a>
<a href="{{ page.rootdir }}/p5-s6.html" class="toc_section">Using &amp; Restoring Valor</a>
<a href="{{ page.rootdir }}/p5-s7.html" class="toc_section">Ending an Episode</a>
<a href="{{ page.rootdir }}/p6.html" class="toc_part">Character Advancement</a>
<a href="{{ page.rootdir }}/p6-s1.html" class="toc_section">Learning Lessons</a>
<a href="{{ page.rootdir }}/p6-s2.html" class="toc_section">Experience Points</a>
<a href="{{ page.rootdir }}/p6-s3.html" class="toc_section">Purchasing Edges</a>
<a href="{{ page.rootdir }}/p6-s4.html" class="toc_section">Edge List</a>
<a href="{{ page.rootdir }}/p6-s5.html" class="toc_section">Library of Edges</a>
<a href="{{ page.rootdir }}/p7.html" class="toc_part">Magic &amp; Spellcasting</a>
<a href="{{ page.rootdir }}/p7-s1.html" class="toc_section">Magic Is as Magic Does</a>
<a href="{{ page.rootdir }}/p7-s2.html" class="toc_section">Creating Spells</a>
<a href="{{ page.rootdir }}/p7-s3.html" class="toc_section">Casting Spells</a>
<a href="{{ page.rootdir }}/p7-s4.html" class="toc_section">The Canterlot Archives</a>
<a href="{{ page.rootdir }}/p8.html" class="toc_part">Running an Episode</a>
<a href="{{ page.rootdir }}/p8-s1.html" class="toc_section">Being the Game Master</a>
<a href="{{ page.rootdir }}/p8-s2.html" class="toc_section">Collaborative Storytelling</a>
<a href="{{ page.rootdir }}/p8-s3.html" class="toc_section">Getting Things Started</a>
<a href="{{ page.rootdir }}/p8-s4.html" class="toc_section">Checks &amp; Difficulty Targets</a>
<a href="{{ page.rootdir }}/p8-s5.html" class="toc_section">Damage &amp; Sidelining</a>
<a href="{{ page.rootdir }}/p8-s6.html" class="toc_section">Lessons &amp; Experience</a>
<a href="{{ page.rootdir }}/p9.html" class="toc_part">Variant Rules</a>
<a href="{{ page.rootdir }}/p9-s1.html" class="toc_section">Plot Points</a>
<a href="{{ page.rootdir }}/p9-s2.html" class="toc_section">Equestria Girls</a>
<a href="{{ page.rootdir }}/p9-s3.html" class="toc_section">Paragon Ponies</a>
<a href="{{ page.rootdir }}/p9-s4.html" class="toc_section">Wide, Wide World</a>
<a href="{{ page.rootdir }}/p9-s5.html" class="toc_section">Epic Experience</a>
<a href="{{ page.rootdir }}/p10.html" class="toc_part">Encyclopedia Equestria</a>
<a href="{{ page.rootdir }}/p11.html" class="toc_part">Premade Episodes</a>
<a href="{{ page.rootdir }}/p11-s1.html" class="toc_section">The House of Enchanted Comics</a>
<a href="{{ page.rootdir }}/p11-s2.html" class="toc_section">Ars Unicornia</a>
<a href="{{ page.rootdir }}/p11-s3.html" class="toc_section">Mutants and Maresterminds</a>
<a href="{{ page.rootdir }}/p11-s4.html" class="toc_section">Whinnystrad</a>
<a href="{{ page.rootdir }}/p12.html" class="toc_part">Miscellaneous</a>
<a href="{{ page.rootdir }}/p12-s1.html" class="toc_section">Character Sheet</a>
<a href="{{ page.rootdir }}/p12-s2.html" class="toc_section">A Note for Developers</a>
<a href="{{ page.rootdir }}/p12-s3.html" class="toc_section">Updates &amp; Resources</a>
<a href="{{ page.rootdir }}/single.html" class="toc_part">Single Page Version (for print)</a>

